* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  line-height: 1;
  font-size: 16px;
  color: #555;
  font-weight: 400;
  font-family: "Rubik", sans-serif;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
}
