.section-hero {
  background-color: #fdf2e9;
  padding: 6rem 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fdf2e9;
  height: 6rem;
  padding: 0 3rem;
}
.logo {
  height: 1.375rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.125rem;
  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #e67e22;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #e67e22;
}
.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  color: #cf711f;
}
.container {
  max-width: 75rem;
  padding: 0 2rem;
  margin: 0 auto;
}

.hero {
  max-width: 81.25rem;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
  align-items: center;
}

.hero-description {
  font-size: 1.25rem;
  line-height: 1.6;
  margin-bottom: 3rem;
}
.hero-img {
  width: 100%;
}
.margin-right-sm {
  margin-right: 1rem !important;
}

.section-hero {
  background-color: #fdf2e9;
  padding: 3rem 0 6rem;
}
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  text-decoration: none;
  transition: background-color 0.3s;
}
.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}
.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}
.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 5rem;
}
.delivered-imgs {
  display: flex;
}
.delivered-imgs img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-right: -1rem;
  border: 3px solid #fdf2e9;
}
.delivered-imgs img:last-child {
  margin: 0;
}
.delivered-text {
  font-size: 1.125rem;
  font-weight: 600;
}
.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
.section-how {
  padding: 9.6rem 0;
}
.step-img-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.step-img-box::before {
  width: 60%;
  padding-bottom: 60%;
  background-color: #fdf2e9;
  z-index: -2;
}
.step-img-box::after {
  width: 50%;
  padding-bottom: 50%;
  background-color: #fae5d3;
  z-index: -1;
}
.step-img {
  width: 35%;
}
.step-number {
  font-size: 5.375rem;
  font-weight: 600;
  color: #eee;
  margin-bottom: 0.75rem;
}
.heading-tertiary {
  font-size: 1.875rem;
  line-height: 1.2;
  margin-bottom: 2rem;
}
.step-description {
  font-size: 1.125rem;
  line-height: 1.8;
}
.center-text {
  text-align: center;
}
.section-featured {
  padding: 3rem 0 2rem;
}
.heading-featured-in {
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #888;
}
.logos {
  display: flex;
  justify-content: space-around;
}
.logos img {
  height: 2rem;
  filter: brightness(0);
  opacity: 50%;
  object-fit: cover;
}
.testimonials-container {
  padding: 6rem;
}
.section-testimonials {
  background-color: rgb(253, 242, 233);
  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}
.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  column-gap: 5rem;
}

.testimonial-img {
  width: 4rem;
  margin-bottom: 1.2rem;
  border-radius: 50%;
}
.testimonial-text {
  font-size: 1.125rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}
.testimonial-name {
  font-size: 1rem;
  color: #6f6f6f;
}
.gallery {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}
.gallery-item img {
  display: block;
  width: 100%;
  transition: all 0.4s;
  object-fit: cover;
  border-radius: 0.75rem;
}
.gallery-item img:hover {
  transform: scale(1.1);
}
.meal {
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.075);
  border-radius: 0.75rem;
  overflow: hidden;
  transition: all 0.4s;
}
.meal-img {
  width: 100%;
}
.section-meals {
  padding: 6rem 0;
}
.meal-tags {
  margin-bottom: 0.75rem;
}

.meal-content {
  padding: 2rem 3rem;
}
.tag {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  background-color: #51cf66;
  color: #333;
  border-radius: 6.25rem;
}
.meal-title {
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 2rem;
}
.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.meal-attribute {
  font-size: 1.125rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.meal-icon {
  height: 1.5rem;
  width: 1.5rem;
  color: #e67e22;
}
strong {
  font-weight: 500;
}
.tag--vegetarian {
  background-color: #51cf66;
}
.tag--vegan {
  background-color: #94d82d;
}
.tag--paleo {
  background-color: #ffd43b;
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.list-icon {
  width: 1.875rem;
  height: 1.875rem;
  color: #e67e22;
}

.all-recipes {
  display: flex;
  justify-content: center;
  font-size: 1.125rem;
  text-align: center;
}
.link {
  display: flex;
  align-items: center;
  transition: all 0.4s;
}
.link:link,
.link:visited {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
}
.link:hover {
  border-color: transparent;
}
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}
.meal:hover {
  transform: translateY(-0.75rem);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.06);
}
.section-pricing {
  padding: 6rem 0;
}
.princing-plan {
  border-radius: 0.75rem;
  width: 75%;
}

.princing-plan--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 2.875rem;
}

.princing-plan--complete {
  background-color: #fdf2e9;
  padding: 3rem;
  position: relative;
  overflow: hidden;
}

.princing-plan--complete::after {
  content: "Best value";
  position: absolute;
  top: 6%;
  right: -18%;

  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  padding: 0.5rem 5rem;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 3rem;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 2rem;
}

.plan-price {
  font-size: 3.875rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1rem;
}

.plan-price span {
  font-size: 1.875rem;
  font-weight: 500;
  margin-right: 0.5rem;
}

.plan-text {
  font-size: 1rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sing-up {
  text-align: center;
  margin-top: 3rem;
}

.plan-details {
  font-size: 1rem;
  line-height: 1.6;
  text-align: center;
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.feature-icon {
  color: #e67e22;
  height: 3rem;
  width: 3rem;
  background-color: #fdf2e9;
  margin-bottom: 3rem;
  padding: 1rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 1.5rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 1rem;
}

.feature-text {
  font-size: 1.125rem;
  line-height: 1.8;
}
.section-cta {
  padding: 3rem 0 8rem;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.15);
  border-radius: 0.75rem;

  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  overflow: hidden;
}

.cta-text-box {
  padding: 3rem 4rem 4rem 4rem;
  color: #45260a;
}

.cta .heading-secondary {
  color: inherit;
  margin-bottom: 2rem;
}

.cta-text {
  font-size: 1.125rem;
  line-height: 1.8;
  margin-bottom: 3rem;
}
.btn {
  display: inline-block;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 1rem 1.25rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}
.btn--form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 0.75rem;
}
.btn--form:hover {
  background-color: #fff;
  color: #555;
}
.cta-img-box {
  background-image: linear-gradient(
      to right bottom,
      rgba(235, 151, 78, 0.35),
      rgba(230, 125, 34, 0.35)
    ),
    url("../img/eating.jpg");
  background-size: cover;
  background-position: center;
}

.cta-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 1.5rem;
}

.cta-form label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 0.75rem;
  font-size: 1.125rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #fdf2e9;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}
.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(253, 242, 233, 0.5);
}
.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.social-icon {
  height: 1.5rem;
  width: 1.5rem;
}

.copyright {
  font-size: 0.875rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}

.contacts {
  font-style: normal;
  font-size: 1rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 1.5rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
